%fieldset
  .input-group
    .input-group-prepend
      %span.input-group-text= t('view.shelter.title')
    = f.input_field :title, label: false, class: "form-control"
  .input-group
    .input-group-prepend
      %span.input-group-text= f.label :about
    = f.text_area :about, label: false, class:"form-control", aria:{label:"With textarea"}, rows: 5
= f.simple_fields_for :phones do |builder|
  = render partial: 'phone_fields', locals: {f: builder}
= button_add_fields fa_icon("phone"), f, :phones, 'btn btn-outline-secondary mb-3'