%div.col-12
  = I18n.t("view.shelter.day_of_week.#{f.object.day_of_week}")
  = f.hidden_field :day_of_week
  %div.work-time.input-group
    = f.input :open, as: :time, html5: true, label: false
    = f.input :close, as: :time, html5: true, label: false