%section.col-md-6.col-sm-12.block-img.float-right
  .row
    %section.main-img
      %img{name: "main_img", src: "#{@shelter.cover.url}"}/
  .row
    %section.img-scroll
      %div#photos
        %div= link_to (image_tag(@shelter.cover.url)), ("javascript:select_image(\"#{@shelter.cover.url}\")")
        - @shelter.shelter_photos.each do |photo|
          = link_to (image_tag(photo.title.thumb.url)), ("javascript:select_image(\"#{photo.title.url}\")")
      - if policy(@shelter).edit?
        %div
          = simple_form_for ShelterPhoto.new, url: shelter_shelter_photos_path(@shelter.id) do |f|
            #uploader.fileUpload.btn.btn-outline-primary
              %span= fa_icon('plus')
              = f.file_field :shelter_photo, multiple: true, name: "photo[title]", class: 'upload'