= javascript_tag do
  longitude           = "#{@shelter.longitude}",
  latitude            = "#{@shelter.latitude}";

%article.card-s.pb-2
  #map.map
  %article.col-md-6.col-sm-12.pet-description.float-left
    %h1.text-left.mt-1.pet-name= @shelter.title
    %dl.shelter-spec
      %dt#tag.shelter-spec_name= t 'view.shelter.address'
      %dd.shelter-spec_value= link_to "#{@shelter.country_title}, #{@shelter.region_title}, #{@shelter.city_title}, #{@shelter.street} #{@shelter.house_number}", "#map", 'data-turbolinks' => 'false'
    %dl.shelter-spec= @shelter.description
  %section.col-md-6.col-sm-12.block-img.float-right
    %section.main-img
      %img{:name => "pet_img", :src => "https://pp.userapi.com/c630826/v630826817/4ab/EEPV0h3J0vE.jpg"}/
    %section.img-scroll
      %div
        %a{:href => "javascript:select_image ('https://pp.userapi.com/c630826/v630826817/4ab/EEPV0h3J0vE.jpg')"}
          %img{:src => "https://pp.userapi.com/c630826/v630826817/4ab/EEPV0h3J0vE.jpg"}/
      %div
        %a{:href => "javascript:select_image ('https://pp.userapi.com/c630826/v630826817/4b4/y4rzY5VbTGY.jpg')"}
          %img{:src => "https://pp.userapi.com/c630826/v630826817/4b4/y4rzY5VbTGY.jpg"}/
  .clearfix