- @page_title = "| " + t('view.title.shelter.show') + " #{@shelter.title}"
= javascript_tag do
  longitude           = "#{@shelter.longitude}",
  latitude            = "#{@shelter.latitude}",
  title               = "#{@shelter.title}",
  address             = "#{@shelter.country_title}, #{@shelter.region_title}, #{@shelter.city_title}, #{@shelter.street} #{@shelter.house_number}",
  shelter_id          = "#{@shelter.id}";

%article.card-s.pb-2
  #map.map
  %article.col-md-6.col-sm-12.pet-description.float-left
    %h1.text-center.mt-1.pet-name= @shelter.title
    - if policy(@shelter).edit?
      = render partial: 'section_controll'
    = render partial: 'section_info'
    = render partial: 'section_schedule'
  = render partial: 'section_photos'
  .clearfix
= render partial: 'section_pets'