= javascript_tag do
  longitude           = "#{@shelter.longitude}",
  latitude            = "#{@shelter.latitude}",
  title               = "#{@shelter.title}",
  address             = "#{@shelter.country_title}, #{@shelter.region_title}, #{@shelter.city_title}, #{@shelter.street} #{@shelter.house_number}",
  shelter_id          = "#{@shelter.id}";

%article.card-s.pb-2
  #map.map
  %article.col-md-6.col-sm-12.pet-description.float-left
    %h1.text-center.mt-1.pet-name= @shelter.title
    %dl.list-spec
      %dt#tag.list-spec_name= t 'view.shelter.address'
      %dd.list-spec_value= link_to "#{@shelter.country_title}, #{@shelter.region_title}, #{@shelter.city_title}, #{@shelter.street} #{@shelter.house_number}", "#map", 'data-turbolinks' => 'false'
    %dl.list-spec= @shelter.about
    %section#staffs.row
      %div.col-md-12
        %button.btn.btn-primary#addStaff.mr-2 Add staff
        %div#staff
          - @shelter.shelter_staffs.each do |staff|
            %div
              %button.btn.btn-danger.m-1{data:{user: staff.user.id}} x
              = "#{staff.user.username}(#{staff.role.title})"
  %section.col-md-6.col-sm-12.block-img.float-right
    %section.main-img
      %img{name: "main_img", src: "#{@shelter.cover.url}"}/
    %section.img-scroll
      %div= link_to (image_tag(@shelter.cover.url)), ("javascript:select_image(\"#{@shelter.cover.url}\")")
      - @shelter.shelter_photos.each do |photo|
        %div
          = link_to (image_tag(photo.title.thumb.url)), ("javascript:select_image(\"#{photo.title.url}\")")
  .clearfix


