- @page_title = "| " + t('view.title.locations.countries')
.col-12.mt-3.mb-3
  %table.list
    %tr
      %th.id= sortable :id
      %th.title= sortable :title
      %th.lookup Lookup
      %th.count Regions
      %th.count Cities
    - @countries.each do |country|
      %tr
        %td= country.id
        %td= link_to country.title, admin_locations_region_path(country.id)
        %td= country.lookup_code
        %td= country.regions_count
        %td= country.cities_count
    %tr
      %td #
      = simple_form_for @country, url: {controller: "admin/locations/countries", action: "create"} do |f|
        %td.input-group{style: "width: 250px"}
          = f.input_field :title, class: "form-control", style: "width: 20%"
          = f.select :lookup_code, Country.lookup_codes, {include_blank: false, label: false}, class: "form-control"
          .input-group-append
            = f.submit "+", class: "btn btn-success"
