%fieldset
  .input-group.mb-2
    .input-group-prepend
      %span.input-group-text= t('view.pet.name')
    = f.input_field :name, label: false, class: "form-control"
  .input-group.mb-2
    .input-group-prepend
      %span.input-group-text= t('view.pet.euthanasia')
    = f.input_field :euthanasia, as: :date, html5: true, label: false, placeholder: t('view.pet.euthanasia'), class: "form-control"
  .input-group.mb-2
    .input-group-prepend
      %span.input-group-text= t('view.pet.birthday')
    = f.input_field :birthday, as: :date, html5: true, label: false, placeholder: t('view.pet.birthday'), class: "form-control"
  .input-group.mb-2
    .input-group-prepend
      %span.input-group-text= t('view.pet.color')
    = f.input_field :color, label: false, placeholder: t('view.pet.color'), class: "form-control"
  .input-group.mb-2
    .input-group-prepend
      %span.input-group-text= t('view.pet.about')
    = f.text_area :about, label: false, class:"form-control", aria:{label:t('view.pet.about')}, rows: 5
  .input-group.mb-2
    .input-group-prepend
      %span.input-group-text= t('view.pet.diseases')
    = f.text_area :diseases, label: false, class:"form-control", aria:{label:t('view.pet.diseases')}, rows: 5
