.photo
  = link_to (image_tag(photo.title.thumb.url)), ("javascript:select_image(\"#{photo.title.url}\")")
  - if policy(@pet).edit?
    - if @pet.avatar.url != photo.title.url
      .img-controll
        = fa_icon "check-circle", title:t('view.button.avatar'), data:{id: photo.id, confirm:t('view.button.avatar_confirm'), type: :pet} , class: "set-photo"
        = fa_icon "times-circle", title:t('view.button.delete'), data:{id: photo.id, confirm:t('view.button.delete_confirm'), type: :pet_photos} , class: "photo-delete"
    - else
      #main-image.img-controll
        = fa_icon "info-circle", title:t('view.button.avatar'), data:{id: photo.id, type: :pet}