- @page_title = "| " + t('view.title.pet.edit') + " #{@pet.name}"
%h1= t 'view.pet.add_new'
%section.col-6.float-left
  = simple_form_for [@shelter, @pet] do |f|
    = render partial: 'form', locals: {f: f}
    = f.input :finished
    = f.input :finished_description
    = f.submit "Edit"
%section.col-6.float-right
  = render partial: 'upload'
  %div#photo
.clearfix