%article.card-s.pb-2
  %article.col-md-6.col-sm-12.pet-description.float-left
    %h1.text-center.mt-1.pet-name= @pet.name
    %dl.list-spec
      %dt#tag.list-spec_name= t 'view.pet.address'
      %dd.list-spec_value= "#{@pet.shelter.country.title_ru}, #{@pet.shelter.region.title_ru}, #{@pet.shelter.city.title_ru}, #{@pet.shelter.street} #{@pet.shelter.house_number}"
    %dl.list-spec
      %dt#tag.list-spec_name= t 'view.pet.shelter'
      %dd.list-spec_value= link_to @pet.shelter.title, @pet.shelter
    - if @pet.birthday
      %dl.list-spec
        %dt#tag.list-spec_name= t 'view.pet.birthday'
        %dd.list-spec_value= @pet.birthday
    - if @pet.euthanasia_date
      %dl.list-spec
        %dt#tag.list-spec_name= t 'view.pet.euthanasia_date'
        %dd.list-spec_value= @pet.euthanasia_date
    %dl.list-spec
      %dt#tag.list-spec_name
        = t 'view.pet.size'
        = render partial: 'layouts/annotation', locals: {locale: 'size'}
      %dd.list-spec_value{name: "size"}= @pet.size.humanize.capitalize
    %dl.list-spec
      %dt#tag.list-spec_name
        = t 'view.pet.gender'
      %dd.list-spec_value= @pet.gender.humanize.capitalize
    %dl.list-spec
      %dt#tag.list-spec_name= t 'view.pet.vaccination'
      %dd.list-spec_value= t "view.pet.boolean.vaccination_#{@pet.vaccination}"
    %dl.list-spec
      %dt#tag.list-spec_name= t 'view.pet.diseases'
      %dd.list-spec_value= @pet.diseases
    %dl.list-spec
      %dt#tag.list-spec_name= t 'view.pet.sterilization'
      %dd.list-spec_value= t "view.pet.boolean.sterilization_#{@pet.sterilization}"
    %dl.list-spec
      %dt#tag.list-spec_name= t 'view.pet.color'
      %dd.list-spec_value= @pet.color
    %dl.list-spec= @pet.about
  %section.col-md-6.col-sm-12.block-img.float-right
    %section.main-img
      %img{name: "main_img", src: "#{@pet.avatar.url}"}/
    - unless @pet.pet_photos.empty?
      %section.img-scroll
        %div= link_to (image_tag(@pet.avatar.url)), ("javascript:select_image(\"#{@pet.avatar.url}\")")
        - @pet.pet_photos.each do |photo|
          %div
            = link_to (image_tag(photo.title.thumb.url)), ("javascript:select_image(\"#{photo.title.url}\")")
  .clearfix