- @page_title = "| " + t('view.title.profile') + " #{@user.username}"
%article.card-s.pb-2
  %div.row
    %div.col-md-12
      %div.user
        %div.float-left.avatar
          = image_tag @user.avatar
        %ul.user_info
          %li
            = @user.username
            %span.role= "(#{@user.role})" unless @user.user?
          - if policy(@user).edit?
            %li= link_to 'Редактировать', edit_user_registration_path, class:"btn-edit"
          - if @user.status || @user.email_visible || policy(@user).edit? || @user.fullname || @user.about
            %li
              - if @user.status
                %dl
                  %dt= "Статус:"
                  %dd= @user.status
              - if @user.email_visible || policy(@user).edit?
                %dl
                  %dt= "Email:"
                  %dd= @user.email
              - if not @user.fullname.blank?
                %dl
                  %dt= "ФИО:"
                  %dd= @user.fullname
              - if not @user.about.blank?
                %dl
                  %dt= "About:"
                  %dd= @user.about
        %div{style:'clear:both'}
  %div.row
    %div.col-md-6
      %div.activities
        = render_activities @activities