= link_to shelter do
  .mb-2.card-loop.hover
    .col-12.col-md-12.col-lg-4.card-loop-image
      = image_tag shelter.cover
    .col-12.col-md-12.col-lg-8.card-loop-info
      %strong= shelter.title
      %span
        = shelter._country
        —
        = shelter._city
      %div
        %span.badge.badge-warning
        - if shelter.verified
          %span.badge.badge-info= t "view.home.verified"