= javascript_tag do
  var shelters        = "#{@shelters_list}",
  longitude           = "#{@geo['longitude']}",
  latitude            = "#{@geo['latitude']}";
#map.map
.container.mt-2
  .row
    %section.col-md-6.col-12.mb-2.card-loops
      - @pets.each do |pet|
        = render partial: 'section_pets', locals:{pet: pet}
    %section.col-md-6.col-12.mb-2.card-loops
      - @shelters.each do |shelter|
        = render partial: 'section_shelters', locals:{shelter: shelter}