.col-12.mt-3.mb-3
  %table.list
    %tr
      %th.id= sortable :id
      %th.name= sortable :name
      %th.status= sortable :status
      %th.shelter Shelter
      %th.country Country
      %th.actions Actions
    - @pets.each do |pet|
      %tr
        %td= pet.id
        %td= link_to pet.name, pet
        %td= pet.status
        %td= pet.shelter.title
        %td= pet.shelter.country.title
        %td
          = link_to "e", edit_admin_pet_path(pet), class: "btn btn-primary btn-sm br25", id:"id-#{pet.id}"