- @page_title = "| " + t('view.title.contacts')
%div.col-4
  = form_tag '/send_mail' do
    %br= text_field_tag 'email', '', type: :email, placeholder: "email", class:"contact-mail"
    %br= text_field_tag 'subject', '', placeholder: "subject", class:"contact-subject"
    %br= text_area_tag 'message', '', placeholder: "message", rows: 7, class:"contact-message"
    %br= submit_tag "submit", value: "send", class: "btn btn-primary"