%div.col-12
  %div.container-fluid
    %div.row.mt-3
      %section.col-4#country
        = select_tag 'countries', options_from_collection_for_select(@countries, :id, :title), class: "custom-select col-9", include_blank: true
        %div#country-control>
        %button#country-toggle.ui-state-default.ui-corner-all.btn.btn-primary.float-right +
        %div#country-new-form.mb-3.mt-3{style:"display: none;"}
          = simple_form_for @country, url: admin_country_path  do |f|
            = f.input :title, label: false, placeholder: ":title"
            = f.submit "Add", class: "btn btn-primary"
      %section.col-4#region
        = select_tag 'regions', {}, class: "custom-select col-9", disabled:true
        %div#region-control>
        %button#region-toggle.ui-state-default.ui-corner-all.btn.btn-primary.disabled.float-right +
        %div#region-new-form.mb-3.mt-3{style:"display: none;"}
          = simple_form_for Region.new, url: admin_region_path  do |f|
            = f.input :title, label: false, placeholder: ":title"
            = f.input :country_id, as: :hidden
            = f.submit "Add", class: "btn btn-primary"\
      %section.col-4#city
        = select_tag 'cities', {}, class: "custom-select col-9", disabled:true
        %div#city-control>
        %button#city-toggle.ui-state-default.ui-corner-all.btn.btn-primary.disabled.float-right +
        %div#city-new-form.mb-3.mt-3{style:"display: none;"}
          = simple_form_for City.new, url: admin_city_path  do |f|
            = f.input :title, label: false, placeholder: ":title"
            = f.input :region_id, as: :hidden
            = f.submit "Add", class: "btn btn-primary"\