%div.activity
  %div.body
    %div.mega-icon= fa_icon "plus"
    %div.title
      = @user.username
      = t('view.public_activity.comment.create')
      - if activity.trackable
        = link_to t("view.public_activity.comment.#{activity.trackable.commentable_type}"), activity.trackable.commentable
      - else
        = t('view.public_activity.comment.been_removed')
    %abbr.timeago{title:"#{activity.created_at}"}
      = time_ago_in_words(activity.created_at)
      = t('view.public_activity.ago')

