%div.col-12.nopadding
  %header
    %nav.navbar.navbar-expand-md.navbar-light.nav-custom
      =  link_to 'BillyBo', root_url, class: 'navbar-brand'
      %button.navbar-toggler{"aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-toggle" => "collapse", :type => "button", "aria-controls" => "nav-head", "data-target" => "#nav-head"}
        %span.navbar-toggler-icon
      #nav-head.collapse.navbar-collapse
        %ul.navbar-nav
          %li.nav-item= link_to t('view.application.menu.dogs'), search_index_path(q:{subspecies_eq: 0}), class: "nav-link"
          %li.nav-item= link_to t('view.application.menu.cats'), search_index_path(q:{subspecies_eq: 1}), class: "nav-link"
          %li.nav-item= link_to t('view.application.menu.other'), search_index_path(q:{subspecies_eq: 2}), class: "nav-link"
        %div.btn-group.ml-auto
          %button.btn.btn-secondary= link_to current_user.email, user_path(current_user.username)
          %button.btn.dropdown-toggle.btn-secondary{data:{toggle:"dropdown"}}
            %span.caret
          %ul.dropdown-menu
            %li= link_to t('view.application.menu.new-shelter'), new_shelter_path
            %li= link_to t('view.application.menu.sign-out'), destroy_user_session_path, method: :delete
