%ul.sq
  = link_to admin_path, {title:"Главная"} do
    %li= fa_icon "th"
  = link_to admin_users_path, {title:"Пользователи"} do
    %li= fa_icon "user"
  = link_to admin_shelters_path, {title:"Приюты"} do
    %li= fa_icon "home"
  = link_to "#", {title:"Питомцы"} do
    %li= fa_icon "paw"
  = link_to admin_location_path, {title:"Локации"} do
    %li= fa_icon "globe"
  = link_to "#", {title:"Комментарии"} do
    %li= fa_icon "comments"
  = link_to admin_settings_path, {title:"Настройки"} do
    %li= fa_icon "cogs"
  = link_to "#", {title:"Логи"} do
    %li= fa_icon "terminal"