%div.activity
  %div.body
    %div.mega-icon= fa_icon "trash"
    %div.title
      = @user.username
      = t('view.public_activity.pet.delete')
      = t('view.public_activity.pet.Pet')
    %abbr.timeago{title:"#{activity.created_at}"}
      = time_ago_in_words(activity.created_at)
      = t('view.public_activity.ago')

