- @page_title = "| " + t('view.title.shelter.edit')
.row.mt-4
  %section.col-6.float-left
    %h2
      %span.badge.badge-info= t('view.title.shelter.edit')
= simple_form_for @shelter, url:{controller:"admin/shelters", action:"update"} do |f|
  .row
    .col-12.col-lg-6.mt-3.mb-3
      = render partial: 'form', locals: {f: f}
      = render partial: 'fields_address', locals: {f: f}
      = f.submit t('view.button.save'), class: "btn btn-success"
      = link_to t("devise.shared.links.back"), :back
    .col-12.col-lg-6.mt-3.mb-3
      = render partial: 'rform', locals: {f: f}
.clearfix