.col-12.col-lg-6.mt-3.mb-3
  = simple_form_for @shelter, url:{controller:"admin/shelters", action:"update"} do |f|
    = f.input :title
    = f.input :status, as: :select, collection: Shelter.statuses.keys.to_a, include_blank: false
    = f.association :country, label_method: :title, value_method: :id, include_blank: true
    = f.input :region_id, collection: @countries, as: :grouped_select, group_method: :regions, label_method: :title, include_blank: false, selected: @shelter.region_id, group_label_method: :title
    = f.input :city_id, collection: @regions, as: :grouped_select, group_method: :cities, include_blank: false, label_method: :title, selected: @shelter.city_id, group_label_method: :title
    = f.input :street
    = f.input :house_number
    = f.input :latitude
    = f.input :longitude
    = f.input :about, input_html:{rows: 7}
    = f.input :moderation
    = f.input :verified
    .schedule
      = f.simple_fields_for :schedules do |s|
        %div.col-12
          = I18n.t("view.shelter.day_of_week.#{s.object.day_of_week}")
          = s.hidden_field :day_of_week
          %div.work-time.input-group
            = s.input :open, as: :time, html5: true, label: false
            = s.input :close, as: :time, html5: true, label: false
    = f.submit "Save", class: "btn btn-success"
    = link_to t("devise.shared.links.back"), :back
.col-12.col-lg-6.mt-3.mb-3
  = simple_form_for ShelterPhoto.new, url: shelter_photos_path do |f|
    = f.hidden_field :shelter_id, value: @shelter.id, name: "photo[shelter_id]"
    .custom-file.file.optional.shelter_photos
      = f.file_field :shelter_photo, multiple: true, name: "photo[title]", class:"custom-file-input file optional"
      = f.label :shelter_photo, "Upload files", class:"custom-file-label file optional"
  %div#photo
  - @shelter.shelter_photos.each do |photo|
    = link_to (image_tag photo.title.thumb.url), photo.title.url
.clearfix