.col-12.mt-3.mb-3
  %table.list
    %tr
      %th.id= sortable :id
      %th.title= sortable :title
      %th.country= sortable :country_id
      %th.moderation= sortable :moderation
      %th.verified= sortable :verified
      %th.status= sortable :status
      %th.user User
      %th.actions Actions
    - @shelters.each do |shelter|
      %tr
        %td= shelter.id
        %td= link_to shelter.title, shelter_path(shelter)
        %td= shelter.country.title
        %td= shelter.moderation
        %td= shelter.verified
        %td= shelter.status
        %td= shelter.user.username
        %td
          = link_to "e", edit_admin_shelter_path(shelter), class: "ui-state-default ui-corner-all btn btn-primary btn-sm br25", id:"id-#{shelter.id}"
          = link_to "v", "#", class: "ui-state-default ui-corner-all btn btn-success btn-sm br25"