%footer.container.col-12.footer.mt-2
  %nav.footer-link.mt-2.pt-1
    %ul.float-left
      %li
        = link_to 'About', about_path, class: "nav-link"
      %li
        = link_to 'Press', press_path, class: "nav-link"
      %li
        = link_to 'Contacts', contacts_path, class: "nav-link"
      %li
        = link_to 'Terms', terms_path, class: "nav-link"
      %li
        = link_to 'Sitemap', sitemap_path, class: "nav-link"
    %ul.float-right
      %li.red
        = link_to (fa_icon "vk"), "https://vk.com/billyboorg"
      %li
        = link_to (fa_icon "facebook"), "https://www.facebook.com/BillyBoOrg/"
      %li
        = link_to (fa_icon "telegram"), "https://t.me/billyboorg"
      %li
        = link_to (fa_icon "instagram"), "https://www.instagram.com/billyboorg/"
      %li
        = link_to (fa_icon "youtube-play"), "#"
      %li
        = link_to (fa_icon "twitter"), "#"