%html
  = render partial: 'layouts/head'
  %body
    = render partial: 'layouts/header'
    %div#body.container.mt-4
      = yield
    = render partial: 'layouts/flash'
  = render partial: 'layouts/footer'