%html
  = render partial: 'layouts/head'
  %body{data: {locale: I18n.locale}}
    = render partial: 'layouts/header'
    %div#body.container.mt-4
      = yield
    = render partial: 'layouts/flash'
  = render partial: 'layouts/footer'